#comboBoxTHServices {
    width: 200px;
}

input[type=date] {
    height: 35px;
    width: 175px;
    background-color: transparent;
    border-radius: 3px;
}

 ::-webkit-inner-spin-button {
    height: 0px;
}

 ::-webkit-calendar-picker-indicator {
    font-size: 16px;
    color: black;
}