<div class="col-sm-12" id="divServico">

    <div class='col-sm-12' style='padding-bottom: 15px;'>
        <h2>Serviço <span id="serviceName"></span></h2>
    </div>
    <div class='col-sm-12 w3-container w3-padding-16 w3-blue' style='margin-bottom: 15px; border: 1px solid gray'>
        <div class='col-sm-12'>
            <div class='col-xs-6'>
                <center>
                    <div class='col-xs-12' style='width: 100%;'><span>Atual: </span></div>
                    <div class='col-xs-12'><span id='currentServiceNumber' class='numero'></span></div>
                </center>
            </div>
            <div class='col-xs-6'>
                <center>
                    <div class='col-xs-12' style='width: 100%;'><span>Total: </span></div>
                    <div class='col-xs-12'><span id='totalServiceNumber' class='numero'></span></div>
                </center>
            </div>
        </div>
        <div class='col-xs-12' style='margin-top:20px;'>
            <div class='col-xs-12'>
                <button id='cSNUp' class='w3-button w3-border' style='width: 100%;'><i class='fa fa-chevron-up fa-lg'></i></button>
            </div>
            <div class='col-xs-12'>
                <button id='cSNDown' class='w3-button w3-border' style='width: 100%;'><i class='fa fa-chevron-down fa-lg'></i></button>
            </div>
        </div>
    </div>

</div>
<div class="col-sm-12">
    <table id="divPedidos" class="w3-table w3-striped w3-white">


    </table>
</div>