<div class='col-sm-12' style='padding-bottom: 15px;'>
    <h2>Sobre</h2>
</div>

<div class="col-sm-12">
    <p>Todos nós, no nosso dia a dia, deparamo-nos com filas de espera tediosas e para assegurar a sua vez é necessário retirar
        senha e aguardar no local. <br>O desenvolvimento desta aplicação vem mudar e facilitar a sua espera, esta vai permitir
        que retire a sua senha e receba toda a informação necessária através do seu smartphone. <br>Com o MobileTicket pode
        tirar a senha facilmente a caminho do local e é sempre atualizado e notificado da sua posição na fila. Assim, poderá
        realizar outras tarefas no estabelecimento enquanto aguarda a sua vez.</p>
    <br>
    <div id="iFrameDIV">
        <iframe id="promoVideo" style="width:1280px; height:720px;" src="https://www.youtube.com/embed/f8l-g0RAhVY" frameborder="0"
            allowfullscreen></iframe>
    </div>
    <hr>
</div>

<div class="col-sm-12">
    <div class="col-sm-12">
        <h3>A equipa:</h3>
    </div>
    <div class="col-sm-12" style="margin-top: 30px;">
        <!--DANIEL-->
        <div class="col-sm-4 equipa">

            <img src="https://webitcloud.net/PW/1617/ADR/index/resources/daniel.jpg" class="w3-circle w3-margin-right imgEquipa">
            <h4 style="margin-right:10px;">Daniel Carneiro</h4>
            <div class="col-sm-12">
                <a href="#"><img id="dFB" src="https://webitcloud.net/PW/1617/ADR/index/resources/fb.png" class=" w3-margin-right imgSocial"></a>
                <a href="#"><img id="dGH" src="https://webitcloud.net/PW/1617/ADR/index/resources/gh.png" class=" w3-margin-right imgSocial"></a>
            </div>

        </div>
        <!--FILIPA-->
        <div class="col-sm-4 equipa">

            <img src="https://webitcloud.net/PW/1617/ADR/index/resources/filipa.jpg" class="w3-circle w3-margin-right imgEquipa">
            <h4 style="margin-right:10px;">Andreia Nora</h4>
            <div class="col-sm-12">
                <a href="#"><img id="fFB" src="https://webitcloud.net/PW/1617/ADR/index/resources/fb.png" class=" w3-margin-right imgSocial"></a>
            </div>

        </div>
        <!--RENATO-->
        <div class="col-sm-4 equipa">

            <img src="https://webitcloud.net/PW/1617/ADR/index/resources/renato.jpg" class="w3-circle w3-margin-right imgEquipa">
            <h4 style="margin-right:10px;">Renato Costa</h4>
            <div class="col-sm-12">
                <a href="#"><img id="rFB" src="https://webitcloud.net/PW/1617/ADR/index/resources/fb.png" class=" w3-margin-right imgSocial"></a>
            </div>

        </div>
    </div>

</div>