<div class='col-sm-12' style='padding-bottom: 15px;'>
    <h2>Contactos</h2>
</div>

<div class="col-sm-12">
    <p>Para mais informações poderá entrar em contacto com a equipa através das redes sociais, email ou preenchendo o formulário
        abaixo.
    </p>
    <hr style="margin-top: 50px; margin-bottom: 10px;">
</div>

<div class="col-sm-12" style="margin-top: 30px;">
    <!--DANIEL-->
    <div class="col-sm-12 equipa">
        <div class="col-sm-4" style="text-align:center;">
            <img src="https://webitcloud.net/PW/1617/ADR/index/resources/daniel.jpg" class="w3-circle w3-margin-right imgEquipa" style="margin-left:15px;">
            <h4>Daniel Carneiro</h4>

        </div>
        <div class="col-sm-8 contacts">
            <div class="col-sm-12">
                <a href="#"><img id="dFB" src="https://webitcloud.net/PW/1617/ADR/index/resources/fb.png" class=" w3-margin-right imgSocial"></a>
            </div>
            <div class="col-sm-12" style="margin-right:15px;">
                <a href="mailto:9150157@esmad.ipp.pt" target="_top"><i class="fa fa-envelope-o fa-3x"></i> 9150157@esmad.ipp.pt</a>
            </div>


        </div>


    </div>
    <!--FILIPA-->
    <div class="col-sm-12 equipa">
        <div class="col-sm-4" style="text-align:center;">
            <img src="https://webitcloud.net/PW/1617/ADR/index/resources/filipa.jpg" class="w3-circle w3-margin-right imgEquipa" style="margin-left:15px;">
            <h4>Andreia Nora</h4>

        </div>
        <div class="col-sm-8 contacts">
            <div class="col-sm-12">
                <a href="#"><img id="fFB" src="https://webitcloud.net/PW/1617/ADR/index/resources/fb.png" class=" w3-margin-right imgSocial"></a>
            </div>
            <div class="col-sm-12" style="margin-right:15px;">
                <a href="mailto:9150107@esmad.ipp.pt" target="_top"><i class="fa fa-envelope-o fa-3x"></i> 9150107@esmad.ipp.pt</a>
            </div>


        </div>


    </div>
    <!--RENATO-->
    <div class="col-sm-12 equipa">
        <div class="col-sm-4" style="text-align:center;">
            <img src="https://webitcloud.net/PW/1617/ADR/index/resources/renato.jpg" class="w3-circle w3-margin-right imgEquipa" style="margin-left:15px;">
            <h4>Renato Costa</h4>

        </div>
        <div class="col-sm-8 contacts">
            <div class="col-sm-12">
                <a href="#"><img id="rFB" src="https://webitcloud.net/PW/1617/ADR/index/resources/fb.png" class=" w3-margin-right imgSocial"></a>
            </div>
            <div class="col-sm-12" style="margin-right:15px;">
                <a href="mailto:9150310@esmad.ipp.pt" target="_top"><i class="fa fa-envelope-o fa-3x"></i> 9150310@esmad.ipp.pt</a>
            </div>


        </div>


    </div>
    <!--FORM-->

    <div class="col-sm-12" id="formContacto">
        <hr style="margin-top: 50px; margin-bottom: 50px;">
        <form>

            <div>
                <center>
                    <label><b>Email</b></label><br>
                    <input class="w3-input w3-border w3-round formInput" id="formEmail" type="email" placeholder="Coloque o seu Email" name="email"
                        required>
                    <br>
                    <label><b>Nome</b></label><br>
                    <input class="w3-input w3-border w3-round formInput" id="formNome" type="text" placeholder="Coloque o seu Nome" name="name"
                        required>
                    <br>
                    <label><b>Assunto</b></label><br>
                    <input class="w3-input w3-border w3-round formInput" id="formAssunto" type="text" placeholder="Coloque o assunto da mensagem"
                        name="subject" required>
                    <br>
                    <label><b>Mensagem</b></label><br>
                    <textarea class="w3-input w3-border w3-round formInput" name="" id="formMensagem" cols="5" rows="5" style="width:100%; height:150px;"></textarea>
                    <br>
                    <p class="pStatus" id="pSendEmailError" style="color: red; font-weight: bold;"></p>
                    <p class="pStatus" id="pSendEmailSuccess" style="color: limegreen; font-weight: bold;"></p>
                    <button id="formSendEmail" class="formLoginButton w3-button w3-blue">Enviar</button>
                    <input type="reset" value="Limpar" class="formLoginButton w3-button w3-grey">
                </center>

            </div>


        </form>

    </div>

</div>